* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
.header {
  height: 29em;
  width: 100%;
  background-color: rgb(87, 2, 2);
}

.nav-links {
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
  border-radius: 50%;
}

.nav-links ul li:hover::after {
  width: 70%;
}
